$background_color: #E9F3FF;
$background_white: #FFFFFF;
$dark_color: #263238;
$black_font: #231F20;
$blue_font: #2F7FD5;
$default_blue: #2F67D5;
$hover_blue: #3C7CF8;
$presed_blue: #194EB6;
$disable_blue: #D8DEE9;
$error_red: #DA1B1B;
$color_icon: #304879;
$disable_icon: #A8B0BF;
$hover_icon: #E2EEFF;
$click_icon: #B5D3FF;
$color_checkbox: #4A95F7




