@import "./scss/reset.scss";
@import "./scss/color.scss";
@import "./scss/default.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    background: $background_color;
    font-family: 'Roboto', sans-serif;
    color: $black_font;
}


.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mdc-checkbox__ripple,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    background-color: $color_checkbox !important;
    border-color: $color_checkbox !important;
}

.modal-buttons-container {
    @include flex-c_c;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: 1px solid $input_default;
    border-radius: 5px;
}

.mdc-line-ripple {
    display: none;
}

.mdc-text-field--invalid {
    border: 1px solid $error_red !important;
}

.mdc-text-field--focused {
    border: 1px solid $blue_font !important;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 14px;
}