<section>
    <span class="item-li-table">
        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
        </mat-checkbox>
        <ul class="item-li-table">
            <li *ngFor="let field of headerTable">
                <app-item-table-header [field]="field" [tableSort]="tableStore?.sortTable"></app-item-table-header>
            </li>
            <li><app-seacrh-table-header [field]="tableStore?.sortTable?.field"></app-seacrh-table-header></li>
        </ul>
    </span>
    <span>
        <ul *ngIf="usersTable.subtasks">
            <li *ngFor="let subtask of usersTable.subtasks  | sortPipe: tableStore?.sortTable| filterPipe : tableStore "
                class="item-li-table">
                <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
                </mat-checkbox>
                <app-item-table [user]="subtask.value"></app-item-table>
            </li>
        </ul>
    </span>
</section>